<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <th:block th:include="template :: scripts_css"/>

    <title>Pizzeria SDA! - Pizzas list</title>
</head>
<body>
<th:block th:include="template :: navigator"/>
<h2>Here are some pizzas:</h2>

<div class="container">
    <div class="row" th:each="pizza,i : ${pizzas}">
        <div class="col-2" th:text="${pizza.id}"></div>
        <div class="col-2" th:text="${pizza.name}"></div>
        <div class="col-2" th:text="${pizza.price}"></div>
        <div class="col-6">
            <div th:each="ingredient: ${pizzas[__${i.index}__].getProducts()}">
                <p th:text="${ingredient.getName()}"></p>
            </div>
        </div>
    </div>
</div>

<th:block th:include="template :: scripts_js"/>
</body>
</html>