<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <th:block th:include="template :: scripts_css"/>

    <title>Pizzeria SDA! - Pizzas list</title>
</head>
<body>
<th:block th:include="template :: navigator"/>
<th:block th:include="template :: messageBox"/>
<h2>Here are some pizzas:</h2>

<div class="container">
    <div sec:authorize="isAuthenticated() && hasRole('ADMIN')" class="row">
        <div class="offset-10 col-2">
            <a th:href="@{/admin/pizzaForm}">Add New Pizza</a>
        </div>
    </div>
    <div class="row header">
        <div class="col-1">Id.</div>
        <div class="col-3">Name</div>
        <div class="col-2">Price</div>
        <div class="col-4">Ingredients</div>
        <div th:if="${loggedIn}" class="col-2">Actions</div>
    </div>
    <div class="row table-row" th:each="pizza,i : ${pizzas}">
        <div class="col-1" th:text="${pizza.id}"></div>
        <div class="col-3" th:text="${pizza.name}"></div>
        <div class="col-2" th:text="${pizza.price}"></div>
        <div class="col-4 ">
            <span th:each="ingredient, iterStat: ${pizzas[__${i.index}__].getProducts()}"
                  th:text="!${iterStat.last} ? ${ingredient.name} + ', ': ${ingredient.name}"></span>
        </div>
        <div th:if="${loggedIn}" class="col-2"></div>
    </div>
</div>

<th:block th:include="template :: scripts_js"/>
</body>
</html>